# Dependencies
node_modules

# Serverless
.serverless
.build

# TypeScript
*.js.map
*.d.ts

# Testing
coverage

# Environment variables
.env
.env.*

# Logs
logs
*.log
npm-debug.log*

# IDE
.idea
.vscode
*.swp
*.swo

# OS specific
.DS_Store
